# Q1. Imagine there is a file full of Twitter tweets by various users and you are provided a set of words that indicates racial slurs. Write a program that can indicate the degree of profanity for each sentence in the file. Write in any programming language (preferably in Python) - make any assumptions, but remember to state them. Please place the code in GitHub with proper documentation and share.

In [7]:
!pip install nltk

Requirement already satisfied: nltk in e:\python1\lib\site-packages (3.6.5)
Requirement already satisfied: click in e:\python1\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in e:\python1\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in e:\python1\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in e:\python1\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in e:\python1\lib\site-packages (from click->nltk) (0.4.4)

In [2]:
import pandas as pd
#from nltk import tokenize
from nltk.tokenize import word_tokenize

In [3]:
#assuming that the twitter tweets are in a file called Tweets.csv 
#column "text" is the column of interest
twitterdf=pd.read_csv("Tweets.csv")

In [4]:
twitterdf.tail(10)

,textID,text,selected_text,sentiment
27471,15bb120f57,"i`m defying gravity. and nobody in alll of oz,...","i`m defying gravity. and nobody in alll of oz,...",neutral
27472,8f5adc47ec,http://twitpic.com/663vr - Wanted to visit the...,were too late,negative
27473,a208770a32,in spoke to you yesterday and u didnt respond...,in spoke to you yesterday and u didnt respond ...,neutral
27474,8f14bb2715,So I get up early and I feel good about the da...,I feel good ab,positive
27475,b78ec00df5,enjoy ur night,enjoy,positive
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [5]:
#assuming that the racial slur words are given in a list "racialslurr" 
racialslur=["bad","sad","bullying","annoying","black","not good"]

In [6]:
#check if there are any null values in the column "text"
twitterdf.text.isnull().sum()

1

In [7]:
#drop the null row as it is only one
twitterdf.dropna()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [8]:
#replace the null value, here am biasing it "good"
twitterdf["text"].fillna("good", inplace = True)

In [9]:
#add a new column to file to update the d
twitterdf['profanityDegree']=" "
twitterdf

,textID,text,selected_text,sentiment,profanityDegree
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,
2,088c60f138,my boss is bullying me...,bullying me,negative,
3,9642c003ef,what interview! leave me alone,leave me alone,negative,
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,
...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,

In [10]:
for i in range(twitterdf.shape[0]):
    token=word_tokenize(twitterdf.text[i].lower())
    degree_of_profanity=sum(1 for t in token if t in racialslur)/ len(token)
    twitterdf['profanityDegree'][i]=degree_of_profanity

In [11]:
twitterdf.head(10)

,textID,text,selected_text,sentiment,profanityDegree
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,0.0
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,0.076923
2,088c60f138,my boss is bullying me...,bullying me,negative,0.166667
3,9642c003ef,what interview! leave me alone,leave me alone,negative,0.0
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,0.0
5,28b57f3990,http://www.dothebouncy.com/smf - some shameles...,http://www.dothebouncy.com/smf - some shameles...,neutral,0.0
6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,positive,0.0
7,50e14c0bb8,Soooo high,Soooo high,neutral,0.0
8,e050245fbd,Both of you,Both of you,neutral,0.0
9,fc2cbefa9d,Journey!? Wow... u just became cooler. hehe....,Wow... u just became cooler.,positive,0.0